  .button {
    background-color: #4a504e; /* Green */
    border:rgb(10, 10, 10);
    color: rgb(248, 246, 246);    
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    margin: 2%;
    cursor: pointer;
    width: 210px;
    height: 70px;
    border-radius: 7px;
    text-shadow: 1px 1px 1px red    
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
    padding: 20px 60 px;
  }

  .button1:hover {
    background-color: greenyellow;
    color: black;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;    
    padding: 20px 60 px;
  }
  
  .button2:hover {
    background-color: yellow;
    color: black;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
    padding: 20px 60 px;
  }
  
  .button3:hover {
    background-color: green;
    color: black;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e6218d;
    padding: 20px 60 px;
  }
  
  .button4:hover {
    background-color: orangered;
    color: black;
  }
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 20px 60 px;
  }
  
  .button5:hover {
    background-color: turquoise;
    color: black;
  }

  .fondo {
    background-color: rgb(255, 255, 255);
  }

  .mitexto {
    font-size: 5em;
    font-family: 'Tahoma';
    font-style: calc(25);
    text-shadow: 1px 1px 2px red;
    color: rgb(31, 31, 29);
    padding: 1%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .mitexto1 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;   
    width: 80vw;
    font-size: 3.5em;
    font-family: 'Tahoma';
    font-style:italic;
    color: rgba(252, 248, 8, 0.952);
    text-shadow: 1px 1px 2px rgb(255, 145, 0);
    border-style: double;    
    padding: 1%;
    align-items: center;
  }

  .mitexto2 {
    font-size: 2em;
    font-family: 'Tahoma';
    font-style: calc(25);
    color: rgb(95, 44, 7);
    border-style: double;
    padding: 1%;
    text-align: center;
    align-items: center;
  }

  .mitexto3 {    
    font-size: 1em;
    font-family: 'Tahoma';
    font-style: calc(25);
    color:blue;
    text-shadow:  1px 1px 1.5px greenyellow;
    border-color: blue;
    border-style: double;
    border-radius: 7px;
    padding: 1%;
    text-align: center;
    align-items: center;
  }

  .contenedor {    
    display: flex;
    justify-content:center;    
    height: auto;
    margin: auto;
    align-items: center;
  }
  
  .contenedortitulos {
    width: 20vw;
    display: flex;
    justify-content:center;
    align-items: center;    
    border-radius: 15PX;
    display: flex;          /*Uso de la propiedad flex*/
    flex-direction: row;
    justify-content:space-evenly;
    gap: 1em;
    align-items: center;
  }
  
  #fotocont{
    background-color: rgb(98, 111, 119);    
    width: 45vw;
    height: auto;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;    
    border-color:rgb(14, 85, 8);
    border-style:solid;
    border-radius: 15PX;
    padding: 7px 7px 7px 7px;
    display: flex;          /*Uso de la propiedad flex*/
    flex-direction: row;
    justify-content:space-evenly;
    gap: 1em;
    align-items: center;
  }

  .fotos{
    width: 20vw;
    height: 20dw;
    border-color: rgb(14, 85, 8);
    border-style:solid;
    border-radius: 15PX;
    cursor: pointer;    
    display: flex;          /*Uso de la propiedad flex*/
    flex-direction: column;
    justify-content:space-evenly;
    gap: 1em;
    align-items: center;
  }